<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Mail Sent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </link>
</head>
<body>
<div class="container" th:object="${email}">
    <br/>
    <h3 class="page-header">Success! Email Sent</h3>
    <hr />
    <p>To→ <p th:text="${email.to}"></p></p>
    <p>Subject → <p th:text="${email.subject}"></p></p>
    <p>Message → <p th:text="${email.content}"></p></p>
    <hr/>
    <p>See sending mail using WebApp Email is so easy!</p>
    <form th:action="@{/home}" method="get">
        <p align="right"><button class="btn btn-light" type="submit">Go back to Home</button></p>
    </form>
</div>
</body>
</html>